body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > * {
    max-width: 1100px;
    width: 95%;
}

 /* Nav bar */

nav {
    display: flex;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}

nav figure {
    width: 50px; 
   
}

nav ul {
    display: flex;
    justify-content:center;    
    gap: 20px; 
    list-style: none; 
    font-weight: bold;
}

/* .signup {
    background-color: #2dcff8;
    border-radius: 12px;
    padding: 20px;
} */

img {
    width: 100%;
    object-fit: cover;
}

figure {
    width: 100%;
    object-fit: cover;
}

nav ul li a {
    color: #999;
    font-size: large;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: rgb(241, 101, 218);
    transition: color 0.3s;
}

header {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    gap: 50px;
    /* justify-content: center; */
}

header figure {
    width: 500px;
}

h1 {
    color: #d01c73;
    font-size: 2em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
}

h2 {
    color: black;
    font-size: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
}

footer {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}

footer a:hover {
    color: rgb(241, 101, 218);
    transition: color 0.3s;
    font-size: large;
    align-content: space-between;
    justify-content: center;
    border: bottom;
}

footer ul {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.button {
    display: block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }


  form {
    display: inline-block;
    text-align: left;
    padding: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }